<div class="modal fade" id="componentEditModal" tabindex="-1" role="dialog" aria-labelledby="componentEditModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="componentEditModalLongTitle">Edit Component</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="/updatecomponent" method="post">
          <div class="modal-body">
            <div class="container">
                <!-- Row 1 -->
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="componentName">Name</label>
                            <input name="componentName" id="componentName">
                        </div>
                    </div>

                    <!-- Column 2 -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="componentLocation">Location</label>
                            <input name="componentLocation" id="componentLocation">
                        </div>
                    </div>

                    <!-- Column 3 -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="componentFootprint">Footprint</label>
                            <input name="componentFootprint" id="componentFootprint">
                        </div>
                    </div>
                </div>

                <!-- Row 2 -->
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="componentAmount">Amount</label>
                            <input name="componentAmount" id="componentAmount">
                        </div>
                    </div>

                    <!-- Column 2 -->
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="componentDatasheet">Datasheet</label>
                          <input type="text" name="componentDatasheet" id="componentDatasheet" value="">
                          <div id="editDatasheetLinks">
                            <a href="#" id="uploadDatasheetLink">Upload</a> | <a href="#" id="deleteDatasheetLink" class="text-danger">Delete</a>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="componentComment">Comments</label>
                            <textarea name="componentComment" id="componentComment" aria-multiline="true"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Row 4 -->
                <div class="row">
                    <!-- Column 1 -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="componentID">Database ID</label>
                            <input type="text" name="componentID" id="componentID" value="" readonly disabled>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="componentEntryDate">Entry Date</label>
                            <input type="text" name="componentEntryDate" id="componentEntryDate" value="" readonly disabled>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="componentUpdatedDate">Last Updated</label>
                            <input type="text" name="componentUpdatedDate" id="componentUpdatedDate" value="" readonly disabled>
                        </div>
                    </div>

                </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
      </form>

    </div>
  </div>
</div>